{% extends "base.html" %}

{% block center %}
<div class="content-section">
  <div id="content" class="colM">

    <h1>Password reset sent</h1>

    <p>We've emailed you instructions for setting your password, <strong><b>if an account exists with the email you entered.</b></strong> You should receive them shortly.</p>

    <p><strong><b>If you don't receive an email, please make sure you've entered the address you registered with,</b></strong> and check your spam folder.</p>



    <br class="clear">
  </div>
</div>
{% endblock %}
