{% extends "base.html" %}

{% block center %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style='font-weight:bold;font-size:20px;'>Password Reset</legend>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                  <strong class="red-text">{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong class="red-text">{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                {{form}}
                <div class="form-group">
                    <button class="btn white-text btn-outline-info" type="submit">Password Reset</button>
                </div>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Need An Account? <a href="{% url 'account:register' %}">Sign Up Now</a>
                    </small>
                </div>
            </fieldset>
        </form>

    </div>
{% endblock %}
