{% extends "base.html" %}

{% block center %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style='font-weight:bold;font-size:20px;'>Update Profile</legend>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                  <strong class="red-text">{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong class="red-text">{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                {% if profile_form.errors %}
                {% for field in profile_form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                  <strong class="red-text">{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in profile_form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong class="red-text">{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                {{ form.as_p }}
                {{ profile_form.as_p }}
                <div class="form-group">
                    <button class="btn white-text btn-outline-info" type="submit">Edit Profile</button>
                </div>
            </fieldset>
        </form>

    </div>
{% endblock %}
